body
{
	background-color: #000166;
	color: #FFFFFF;
	font-family: Arial;
}

td {
	vertical-align: top;
	line-height: 9px;
}

td:not(.big) {
	width: 200px;
}

td, td a {
	font-size: 11px;
}

h3 a {
	cursor: pointer;
	text-decoration: underline;
}

p, h1, h2, h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

p.lost, span.lost { color: red; }
p.available, span.available { color: lime; }

p.name {
	color: FF8000;
}

p.name a {
	font-weight: bold;
	color: 80FF00;
	text-decoration: underline;
}

p.name a:hover {
	color: fff;
}

p.author {
	color: FFFF80;
	font-style: italic;
}

span.editable {
	color: FF8000;
	font-style: italic;
}

a {
	font-weight: bold;
}

a:link {
  color: FFFF00;
}

a:visited {
  color: FFFF00;
}

a:hover {
  color: FFFF00;
}

a:active {
  color: FFFF00;
} 

a.selected {
  color: FF8000;
}

i {
  color: FFFF80;
}

img {
  max-width: 200px; 
}

p.image {
  min-height: 128px;
}